<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fitness Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"  type="text/css" href="style.css" />
  </head>
  <body>
    <header>
      <h1>Fitness Tracker</h1>
      <nav>
        <a href="../login">Login</a>
        <a href="../register">Register</a>
      </nav>  
    </header>

    <section class="login-container">
        <h1>Login</h1>
        <form method="POST" action="loggedin">
            <p>Username: <input id="user" type="text" name="username" /></p>
            <p>Password: <input id="password" type="password" name="password" /></p>
        <input type="submit" value="Login" />
      </form>
    </section>
  </body>
</html>
